.body{
    background-color: #f5e1da;
}
.navbar{
    display: inline;
    justify-content: space-between;
    margin-right: 30px;
    z-index: 1;
}
.container{ 
    justify-content: center;
    margin-top: 35px;
    background-color: #f5e1da;
    text-align: center;
    padding-bottom: 35px;
}

.containerNombre{
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f0ece2;
    text-align: center;
}
.container0{
    background-color: #f5e1da;
    margin-bottom: 0;
}

.fixed2{
    position: fixed;
    bottom:0;
    right: 0;
    width: 150px;
          }

.body{
    background-color:#f5e1da ;
}

#titulo{
    font-size: 30px;
}

#BOTON{ /* es el home */
    border-radius: 0;
    padding: 15px;
    width: 75px;
    background-color: #5a6c16;
    text-align: center;
    color: white;
}

#btn4{
    background-color: #f9ebc7;
    border-radius: 20px;
    margin-top: 15px;
    width: 100px;
    margin-left: 15px;
    padding-left: 0px;
    padding-right: 0px;
    color:#c4661f;
    border-color: #c4661f;
    border-width: 2px;

}